#inc_expCard{
     /* box-shadow: 0px 2.5px 5px 0px rgba(0,0,0,0.75); */
     box-shadow: 0px 2.5px 2px 0px rgba(0,0,0,0.75);
}
body{
     background-color: #e3e1e147;
}

.add:hover{
     background-color:green !important;
}
.btn:focus{
  box-shadow: none;
}

#payment_history{
     border-right: 4px solid red;
}

@media screen and (max-width:768px) {
     #Wrapper{
          width: 100% !important;
     }
}